<div class='fb-right'>

	<div class="canvas-container" style="display: none;">
	<%= Customizer.templates['partials/canvas']() %>
	</div>
	<div class="background-upload-container">
		<div class='fb-upload-image-field-wrapper'>
			<div class="input-field-container">
			  	<!-- <label>Background Image</label> -->
			  	<div class="pd-upload-zone">
			  		<div class="inner-upload-zone">
			  			<div class="image-icon picture_iamge"><span class="fa fa-picture-o"></span></div>
				        
						<span class="upload-text"><span class="fa fa-upload"></span> Upload Photo with garden and see how this plant group fits in</span>
			        </div>
			        <div class="image-preview"></div>
			  		<input type="file" class="pc-upload-image">
			  	</div>

			  	<div id="upload-image"></div>
			</div>
		</div>
	</div>
	
</div>

<div class='fb-clear'></div>

<div class='fb-save-wrapper'>
  <button class='js-save-data <%= Customizer.options.BUTTON_CLASS %>'></button>
</div>
<div class="pc-loader-container">
	<div class="pc-loading-inner">
		<div class="pc-loading-icon"><!-- <span class="mif-spinner2 mif-ani-spin"></span> --><span class="mif-spinner3 mif-ani-spin"></span></div>
		<div class="pc-loading-text">Loading...</div>
	</div>
</div>