<div class='fb-tab-pane active' id='addField'>
  <div class='fb-add-field-types'>
    <div class='section'>
      <% _.each(_.sortBy(Customizer.inputFields, 'order'), function(f){ %>
        <a data-field-type="<%= f.field_type %>" class="<%= Customizer.options.BUTTON_CLASS %>">
          <%= f.addButton %>
        </a>
      <% }); %>
    </div>

    <div class='section'>
      <% _.each(_.sortBy(Customizer.nonInputFields, 'order'), function(f){ %>
        <a data-field-type="<%= f.field_type %>" class="<%= Customizer.options.BUTTON_CLASS %>">
          <%= f.addButton %>
        </a>
      <% }); %>
    </div>
  </div>
</div>
