<div class="pc-canvas-waraper">
<div class="pc-title canvas-actions">
	<div class="pc-icon-inline download" data-title="Download PDF file"><span class="fa fa-file-o"></span></div>
	<div class="pc-icon-inline preview" data-title="Preview"><span class="fa fa-eye"></span></div>
	<div class="pc-icon-inline-seprater"></div>
	<div class="pc-icon-inline zoom-in" data-title="Zoom-in"><span class="fa fa-search-plus "></span></div>
	<div class="pc-icon-inline zoom-out" data-title="Zoom-out"><span class="fa fa-search-minus"></span></div>
	<div class="pc-icon-inline zoom-reset" data-title="Reset zoom"><span class="fa fa-search"></span></div>
	<div class="pc-icon-inline-seprater" ></div>
	<div class="pc-icon-inline fullscreen pull-right" data-title="Fullscreen"><span class="fa fa-arrows-alt"></span></div>
</div>
<div class='pc-canvas'></div>
</div>
