<div class="pc-canvas-waraper">
<div class="pc-title canvas-actions">
	<div class="pc-icon-inline download" data-title="Download PDF file"><span class="mif-file-pdf"></span></div>
	<div class="pc-icon-inline preview" data-title="Preview"><span class="mif-eye"></span></div>
	<div class="pc-icon-inline-seprater"></div>
	<div class="pc-icon-inline zoom-in" data-title="Zoom-in"><span class="mif-zoom-in"></span></div>
	<div class="pc-icon-inline zoom-out" data-title="Zoom-out"><span class="mif-zoom-out"></span></div>
	<div class="pc-icon-inline zoom-reset" data-title="Reset zoom"><span class="mif-search"></span></div>
	<div class="pc-icon-inline-seprater" ></div>
	<div class="pc-icon-inline fullscreen pull-right" data-title="Fullscreen"><span class="mif-enlarge"></span></div>
</div>
<div class='pc-canvas'></div>
</div>
