<div class="pc-container">
	<div class='pc-title handle'><span class="mif-stack"></span> Layers</div>
  	<div class='pc-body'>
  		<ul class="pc-layers-contianer">
  			<% if(views.length > 0){
	  			_.each(views, function(view){ %>
	  			
		  		<li class="product-view-item <%= (active !== undefined && active !== null && active.id == view.id) ? 'active' : '' %>" data-id="<%= view.id %>">

					
		  		</li>
		  		<% }); %>

		  	<% }else{ %>
				<li class="layers no-found">Views Found</li>
		  	<% } %>
	  	</ul>
  	</div>
</div>