<div class='pc-settings-wrapper'>

	<ul class='fb-tabs'>
	    <li class='active'><a data-target='#element-bounding-panel'>Bounding Box</a></li>
	    <li><a data-target='#modifications-panel'>Modifications</a></li>
	    <li><a data-target='#other-settings-panel'>Other</a></li>
  	</ul>

  	<div class='fb-tab-content'>
	    <div id="element-bounding-panel" class="fb-tab-pane active">

			<div class="pc-input-container input-checkbox">
				<label class="input-label" for="enable_bounding">Enable bounding box</label>
				<div class="input-fields checkbox"> 
					<input type="checkbox" class="toggle-div" data-target="#pc-define-bounding" id="enable_bounding" name="enable_bounding" <%= rf.get(Customizer.options.mappings.LAYER_DATA+".boundingEnable") == true ? 'checked' : '' %>>
				</div>
			</div>
			<div id="pc-define-bounding" class="pc-define-bounding"  <%= rf.get(Customizer.options.mappings.LAYER_DATA+".boundingEnable") == true ? '' : 'style="display:none"' %>>

				<div class="pc-input-container input-checkbox">
					<label class="input-label" for="another_element_bounding">Use another element as bounding box</label>
					<div class="input-fields checkbox"> 
						<input type="checkbox" class="toggle-div" data-target=".pc-define-bounding-name, .pc-define-bounding-coords" id="another_element_bounding" name="another_element_bounding" <%= rf.get(Customizer.options.mappings.LAYER_DATA+".elementBoundingEnable") == true ? 'checked' : '' %>>
					</div>
				</div>

				
				<div class="pc-define-bounding-name" <%= rf.get(Customizer.options.mappings.LAYER_DATA+".elementBoundingEnable") == true ? '' : 'style="display:none"' %>>

					<div class="pc-input-container pc-full-width">
						<label class="input-label">Define Bounding Box</label>
						<div class="input-fields text"> 
							<input class="input_another_element_bounding_name" type="text" name="another_element_bounding_name" value="<%= rf.get(Customizer.options.mappings.LAYER_DATA+".boundingElementName") %>">
						</div>
						<div class="description">Name when you have entered while adding<!-- or id of the layer (I.e. "c1", "c2", "c3", ...) -->.</div>
					</div>
				</div>
				<div class="pc-define-bounding-coords" <%= rf.get(Customizer.options.mappings.LAYER_DATA+".elementBoundingEnable") == true ? 'style="display:none"' : '' %>>
					<div class="pc-input-container pc-full-width">
						<label class="input-label">Define Bounding Box Coords</label>
						<div class="input-fields text"> 
							<div class="pc-input-container pc-half-width">
								<label class="input-label">Left</label>
								<input class="bounding_coords" data-coord="Left"  type="text" name="bounding_coords_x" value="<%= rf.get(Customizer.options.mappings.LAYER_DATA+".boundingCoordsLeft") %>">
							</div>
							<div class="pc-input-container pc-half-width">
								<label class="input-label">Top</label>
								<input class="bounding_coords" data-coord="Top" type="text" name="bounding_coords_y" value="<%= rf.get(Customizer.options.mappings.LAYER_DATA+".boundingCoordsTop") %>">
							</div>
						</div>

						<div class="input-fields text"> 
							<div class="pc-input-container pc-half-width">
								<label class="input-label">Width</label>
								<input class="bounding_coords" data-coord="Width" type="text" name="bounding_coords_width" value="<%= rf.get(Customizer.options.mappings.LAYER_DATA+".boundingCoordsWidth") %>">
							</div>
							<div class="pc-input-container pc-half-width">
								<label class="input-label">Height</label>
								<input class="bounding_coords" data-coord="Height" type="text" name="bounding_coords_height" value="<%= rf.get(Customizer.options.mappings.LAYER_DATA+".boundingCoordsHeight") %>">
							</div>
						</div>
						
					</div>
				</div>


				<div class="pc-input-container pc-full-width">
					<label class="input-label">Mode</label> 
					<div class="input-fields select">
						<select class="input_bounding_box_mode" name="bounding_box_mode">
							<option value="inside" <%= rf.get(Customizer.options.mappings.LAYER_DATA+".boundingMode") == 'inside' ? 'selected' : '' %>>Inside</option>
							<option value="clipping" <%= rf.get(Customizer.options.mappings.LAYER_DATA+".boundingMode") == 'clipping' ? 'selected' : '' %>>Clipping</option>
						</select>
					</div>
				</div>
			</div>
		</div>


		<div id="modifications-panel" class="fb-tab-pane">
			<div class="checkbox-group">
				<div class="pc-input-container  pc-half-width">
					<label class="input-label"><input class="checkbox-draggable" <%= rf.get(Customizer.options.mappings.LAYER_DATA+".isDraggable") == true ? 'checked' : '' %> type="checkbox"> Draggable</label>
				</div>
				<div class="pc-input-container  pc-half-width">
					<label class="input-label"><input class="checkbox-rotatable" <%= rf.get(Customizer.options.mappings.LAYER_DATA+".lockRotation") == false ? 'checked' : '' %> type="checkbox"> Rotatable</label>

				</div>
				<div class="pc-input-container  pc-half-width">
					<label class="input-label"><input class="checkbox-resizable" <%= rf.get(Customizer.options.mappings.LAYER_DATA+".isResizable") == true ? 'checked' : '' %> type="checkbox"> Resizable</label>
				</div>

				<div class="pc-input-container pc-half-width">
					<label class="input-label"><input class="checkbox-hide-layer" <%= rf.get(Customizer.options.mappings.LAYER_DATA+".hideLayer") == true ? 'checked' : '' %> type="checkbox"> Hide Layer</label>
				</div>

				<div class="pc-input-container  pc-half-width">
					<label class="input-label"><input class="checkbox-removable" <%= rf.get(Customizer.options.mappings.LAYER_DATA+".removable") == true ? 'checked' : '' %> type="checkbox"> Removable</label>
				</div>

				<div class="pc-input-container  pc-half-width">
					<label class="input-label"><input class="checkbox-unlockable" <%= rf.get(Customizer.options.mappings.LAYER_DATA+".unlockable") == true ? 'checked' : '' %> type="checkbox"> Unlockable</label>
				</div>
				<div class="pc-input-container  pc-half-width">
					<label class="input-label"> <input class="checkbox-stay-on-top" <%= rf.get(Customizer.options.mappings.LAYER_DATA+".stayOnTop") == true ? 'checked' : '' %> type="checkbox"> Stay On Top</label>
				</div> 
			</div>
		</div>


		<div id="other-settings-panel" class="fb-tab-pane">
			<div class="pc-input-container pc-full-width">
				<label class="input-label">Layer Name</label>
				<div class="input-fields text"> 
					<input class="pc_layer_name" type="text" value="<%= rf.get(Customizer.options.mappings.LAYER_DATA+".title") %>">
				</div>
			</div>

			<div class="pc-input-container pc-full-width">
				<label class="input-label">Allowed Colors</label>
				<div class="input-fields text"> 
					<input class="pc_allowed_colors" type="text" value="<%= rf.get(Customizer.options.mappings.LAYER_DATA+".allowedColors") %>">
				</div>
				<div class="description">Add hexadecimal code of the color. For add multiple colors used comma(,).</div>
			</div>
			<div class="pc-input-container pc-full-width">
				<label class="input-label">Default color</label>
				<div class="input-fields text"> 
					<input class="pc_default_color" type="text" value="<%= rf.get(Customizer.options.mappings.LAYER_DATA+".defaultColor") %>">
				</div>
				<div class="description">Add hexadecimal code of the color. I.e. "#000000, #FFF"</div>
			</div>
		</div>
  	</div>








	

	



  	<!-- <div class="pc-style-icon bring-forward"></div> -->
  	 
</div>