<div class='pc-alignment-wrapper left-border'>
  	<div class="pc-style-icon align-top"><span class="mif-vertical-align-top"></span></div>
  	<div class="pc-style-icon align-right"><span class="mif-vertical-align-top rotate90"></span></div>
  	<div class="pc-style-icon align-bottom"><span class="mif-vertical-align-bottom"></span></div>
  	<div class="pc-style-icon align-left"><span class="mif-vertical-align-bottom rotate90"></span></div>

  	<div class="pc-style-icon vertical-align-center"><span class="mif-vertical-align-center"></span></div>
  	<div class="pc-style-icon hoizontal-align-center"><span class="mif-vertical-align-center rotate90"></span></div>
</div>