<div class='fb-tab-pane active' id='pc-upload-image-panel'>
  <div class='fb-upload-image-field-wrapper'>
  	<div class="input-field-container">
	  	<label>Background Image</label>
	  	<div class="pd-upload-zone">
	  		<div class="inner-upload-zone">
		         <span class="fa fa fa-upload"></span>
				 <span >Click or drop images here</span>
	        </div>
	        <div class="image-preview"></div>
	  		<input type="file" class="pc-upload-image">
	  	</div>

	  	<div id="upload-image"></div>
	</div>
  </div>
</div>

<div class='fb-tab-pane ' id='pc-backgrounds-panel'>
  <div class='fb-add-field-types'>
    <div class='section'>
      	<% _.each(Customizer.images, function(category){ %>
      		<% _.each(_.sortBy(category, 'order'), function(f){ %>
        		<a data-field-id="<%= f.id %>" data-field-type="<%= f.type %>" class="<%= f.type %>-image assets">
					<% if(f.addButton === undefined || f.addButton === null || f.addButton === ""){ %>
			            <% if(f.thumb === undefined || f.thumb === null || f.thumb === ""){ %>
			              	<img src="<%= f.full %>">
			            <% }else{ %>
			              	<img src="<%= f.thumb %>">
			            <% } %>
			        <% }else{ %>
			            <%= f.addButton %>
			        <% } %>
			    </a>

        	<% }); %>
      	<% }); %>
    </div>
  </div>
</div>
