<div class='fb-tab-pane active' id='pc-upload-image-panel'>
  <div class='fb-upload-image-field-wrapper'>
  	<div class="input-field-container">
	  	<label>Background Image</label>
	  	<div class="pd-upload-zone">
	  		<div class="inner-upload-zone">
		         <span class="fa fa fa-upload"></span>
				 <span data-defaulttext="Click or drop images here">Click or drop images here</span>
	        </div>
	  		<input type="file" class="pc-upload-image">
	  	</div>
	</div>
	<div class="uploaded-image-container">
		<ul></ul>
	</div>
  </div>
</div>